@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Display Email";
}
<div class="row" style="align-self:center; max-width: 500px; width: 90%;">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h5>@ViewBag.Title.</h5>
                <hr style="border-top-color: #ee6e73;" />
                <p>
                    Please check your email and confirm your email address.
                </p>
            </div>
        </div>
    </div>
</div>