@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_Manage.cshtml";
}

<div class="row" style="align-self:center; max-width: 500px; width: 90%;">
    <div class="col s12">
        <div class="jumbotron card">
            <h2 class="text-danger">Error.</h2>
            <h4 class="text-danger">We're sorry, an error occurred while processing your request. Please click back on your browser button to return to what you were doing.</h4>
        </div>
    </div>
</div>

